<h1> <%= @car.brand %>, <%= @car.model %>, <%= @car.year %> </h1>
<h4>Price: <%= @car.price %> </h4>
<h4>Fuel Type: <%= @car.fuel_type %> </h4>
<h4>Miles Per Gallon: <%= @car.mpg %>   </h4>
<br>
<br>
<br>
<% if user_signed_in? && @car.costs != [] %>
<h2><%= link_to 'Find Costs', new_car_cost_path(@car) %> </h2>
<h3> Costs: </h3>
  <table>
  <thead>
    <tr>
      <th width="150">Total Cost of Purchase </th>
      <th width="150">Down Payment</th>
      <th width="150">Interest Rate</th>
      <th width="150">Time Horizon In Years</th>
      <th width="150">Monthly Car Payment</th>
      <th width="150">Monthly Gas Cost</th>
      <th width="150">Link to Local Dealership</th>
      <th width="150">Delete Costs </th>
    </tr>
  </thead>
  <tbody>
  <% @car.costs.order(created_at: :desc).each do |money| %>
    <tr>
      <td><strong><%= number_to_currency(money.net_present_value) %></strong></td>
      <td><%= money.down_payment %></td>
      <td><%= money.interest_rate %></td>
      <td><%= money.time_horizon_in_years %></td>
      <td><%= number_to_currency(money.monthly_payment) %> </td>
      <td><%= number_to_currency(money.car.monthly_gas_expense) %></td>
      <td><a href="#">Link to Local Dealer</a> </td>
      <td><%= link_to "Delete", car_cost_path(@car, money),
      method: :delete, data: { confirm: "Are your sure?" } %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<% else %>
<h2><%= link_to 'Find Costs', new_car_cost_path(@car) %> </h2>
<% end %>
<br>

