<h1> <%= @car.brand %>, <%= @car.model %>, <%= @car.year %> </h1>
<h4>Price: <%= number_to_currency(@car.price) %> </h4>
<h4>Fuel Type: <%= @car.fuel_type %> </h4>
<h4>Miles Per Gallon: <%= @car.mpg %>   </h4>
<br>
<h5> Average Review of Car: <%= @car.consumer_notes["averageRating"] %> </h5>
<% if @car.consumer_notes["reviews"] == nil %>
<h6> Sorry There Are No Comments </h6>
<% else %>
<h6> Comments on Car: </h6>
  <% if @car.consumer_notes["reviews"].present? %>
    <% @car.consumer_notes["reviews"].each do |note| %>
      <p>
      <%= note["title"] %>: <br>
      <%= note["text"] %>
    </p>
    <% end %>
  <% end %>
<% end %>
<%= image_tag(@car_photos.last.car_pic) %>

<!-- <div class="car_pic"><%= image_tag(@car_photos.last.car_pic) %></div>
 -->


<br>
<br>
<% if user_signed_in? && @car.costs != [] %>
<h2><%= link_to 'Find Costs', new_car_cost_path(@car), class: "button large alert" %> </h2>
<h3> Costs: </h3>
  <table>
  <thead>
    <tr>
      <th width="150">Total Cost of Purchase </th>
      <th width="125">Down Payment</th>
      <th width="125">Interest Rate</th>
      <th width="125">Time Horizon In Years</th>
      <th width="125">Monthly Car Payment</th>
      <th width="125">Monthly Gas Cost</th>
      <th width="125">Maintenance Cost</th>
      <th width="125">List of Local Dealership</th>
      <th width="125">Delete Costs </th>
    </tr>
  </thead>
  <tbody>
  <% @car.costs.order(created_at: :desc).each do |money| %>
    <tr>
      <td><strong><%= number_to_currency(money.net_present_value) %></strong></td>
      <td><%= number_to_currency(money.down_payment) %></td>
      <td><%= money.interest_rate %> %</td>
      <td><%= money.time_horizon_in_years %></td>
      <td><%= number_to_currency(money.monthly_payment) %> </td>
      <td><%= number_to_currency(money.car.monthly_gas_expense) %></td>
      <td><%= number_to_currency(money.maintenance_cost) %></td>
      <td><%= link_to "List of Local Dealerships", car_cost_path(@car, money) %></td>
      <td><%= link_to "Delete", car_cost_path(@car, money),
      method: :delete, data: { confirm: "Are your sure?" } %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<% else %>
<h2><%= link_to 'Find Costs', new_car_cost_path(@car), class: "button large alert" %> </h2><% end %>
<br>

