<h1> <%= @car.brand %>, <%= @car.model %>, <%= @car.year %> </h1>
<h4>Price: <%= @car.price %> </h4>
<h4>Fuel Type: <%= @car.fuel_type %> </h4>
<h4>Miles Per Gallon: <%= @car.mpg %>   </h4>
<br>
<br>

<h2><%= link_to 'Find Costs', new_car_cost_path(@car) %> </h2>
<% if user_signed_in? %>
<h3> Costs: </h3>
<% @car.costs.order(created_at: :desc).each do |money| %>
<ul class="pricing-table">
  <li class="title">Cars Cost</li>
  <li class="Present Value of Purchase">Cost of Purchase: <%= number_to_currency(money.net_present_value) %></li>
  <li class="down_payment">Down Payment: <%= money.down_payment %></li>
  <li class="interest_rate">Interest Rate: <%= money.interest_rate %></li>
  <li class="time_horizon_in_years"> Time Horizon In Years:  <%= money.time_horizon_in_years %></li>

  <li class="monthly_car_payment"> Monthly Car Payment: <%= number_to_currency(money.monthly_payment) %> </li>
   <li class="gas_expense">Monthly Gas Cost: <%= number_to_currency(money.car.monthly_gas_expense) %></li>
  <li class="cta-button"><a class="button" href="#">Visit Dealership Website </a></li>
  <%= link_to "Delete", car_cost_path(@car, money),
      method: :delete, data: { confirm: "Are your sure?" } %>

</ul>
<% end %>
<% end %>
