<div class= "panel transparent">
<h1><strong> <%= @car.brand %>, <%= @car.model %>, <%= @car.year %> </strong></h1>
</div>
<div class='panel overflow transparent'>
  <div class="profile-container">
  <div class="large-6 columns">
    <h4>Price: <%= number_to_currency(@car.price) %> </h4>
    <h4>Fuel Type: <%= @car.fuel_type %> </h4>
    <h4>Miles Per Gallon: <%= @car.mpg %>   </h4>
    <h4>Fuel Capacity(in gallons): <%= @car.fuel_capacity %></h4>
    <br>
    <br>
    <a href="#" data-reveal-id="firstModal" class="radius button">See Ratings/Reviews </a>
    <div id="firstModal" class="reveal-modal" data-reveal>
      <h2> <%= "#{@car.brand} ,  #{@car.model} , #{@car.year}"  %> </h2>
      <% if @car_reviews == [] %>
      <h6> Sorry There Are No Reviews!!! </h6>
    <% else %>
      <h5> Average Rating of Car: <%= @car_reviews[0].rating %> </h5>
      <br>
      <h6> Review on the Car: </h6>
        <h7><%= @car_reviews.first.title %>:</h7>
        <br>
        <br>
        <p><%= @car_reviews.first.comment %></p>
      <p><a href="#" data-reveal-id="secondModal" class="secondary button"> All Reviews </a></p>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="secondModal" class="reveal-modal" data-reveal>
      <h2>All Reviews: </h2>
        <% @car_reviews.each do |note| %>
          <h7><%= note.title %> </h7>
          <p><%= note.comment %></p>
      <a class="close-reveal-modal">&#215;</a>
    <% end %>
    <% end %>
  </div>
  </div>


<div class="large-2 columns">

<%= link_to image_tag(@car_photos[0].car_pic, size: "800x800") , @car_photos[0].car_pic %><br><br>
<%= link_to image_tag(@car_photos[1].car_pic, size: "800x800") , @car_photos[1].car_pic %>
</div>
<div class="large-2 columns">
<%= link_to image_tag(@car_photos[2].car_pic, size: "800x800") , @car_photos[2].car_pic %><br><br>
<%= link_to image_tag(@car_photos[3].car_pic, size: "800x800") , @car_photos[3].car_pic %>
</div>

</ul>

  <!-- <div class="photos-container"> -->
</div>
  <!-- </div> -->
</div>


</div>
<br>

<% if user_signed_in? && @car.costs != [] %>
<div class= "large-6 columns">
<h2><%= link_to 'Find Costs', new_car_cost_path(@car), class: "button large alert" %> </h2>
<h2><%= link_to "List of Local Dealerships", car_cost_path(@car, @cost.first), class: "button" %> </h2>
</div>
<div class= "large-12 columns">
<div class='panel cost transparent'>
<h3><strong> Costs: </strong></h3>
  </div>
  </div>
  <table>
  <thead>
    <tr>
      <th width="150">Total Cost of Purchase </th>
      <th width="125">Down Payment</th>
      <th width="125">Interest Rate</th>
      <th width="125">Time Horizon In Years</th>
      <th width="125">Monthly Car Payment</th>
      <th width="125">Monthly Gas Cost</th>
      <th width="125">Maintenance Cost</th>
      <th width="125">Delete Cost </th>
    </tr>
  </thead>
  <tbody>
  <% @car.costs.order(created_at: :desc).each do |money| %>
    <tr>
      <td><strong><%= number_to_currency(money.net_present_value(current_user)) %></strong></td>
      <td><%= number_to_currency(money.down_payment) %></td>
      <td><%= money.interest_rate %> %</td>
      <td><%= money.time_horizon_in_years %></td>
      <td><%= number_to_currency(money.monthly_payment) %> </td>
      <td><%= number_to_currency(money.car.monthly_gas_expense) %></td>
      <td><%= number_to_currency(money.maintenance_cost(current_user)) %></td>
      <td><%= link_to "Delete", car_cost_path(@car, money),
      method: :delete, data: { confirm: "Are your sure?" } %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<% else %>
<h2><%= link_to 'Find Costs', new_car_cost_path(@car), class: "button large alert" %> </h2>
<% end %>


